header {
position: relative; 
z-index: 2;
height: 3rem;
}

.nav {
    background-color: #132e52;
    color: #ffffff;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: .1rem;
    position: fixed;
    width: 100%;
    height: 3rem;
    box-shadow: 0 4px 6px rgba(205, 245, 255, 0.1);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;

}

.nav img:nth-child(1) {
cursor: pointer;
}

.nav div:nth-child(2) {
    display: flex;
    align-items: center;
    padding-right: 1rem;
    font-weight: bolder;
}

.nav div:nth-child(2) a {
color:#ffffff;
text-decoration: none;
padding: 0 0.7rem;
}

.nav div:nth-child(2) a {
    padding-left: 1rem;
}

.nav div:nth-child(1) img {
    padding: 0 .5rem;
    scale: 70%;
    padding: 0;
    margin: 0;
}


@media (min-width: 801px) {
    .mobile-nav {
        display: none;
    }
}

@media (max-width: 800px) {
    .full-nav {
        display: none;
    }

    .mobile-nav {
        padding: 0;
    }

    .fa-bars {
        padding: .5rem;
    }
}

.nav {
    color: rgb(255, 255, 255);
  
}


/* overlay */
/* mobile overlay navigation */



#overlay{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.911);
    z-index: 4;
    font-family: 'Inter';
font-style: normal;
font-weight: 900;
}



.overlay-text {
    text-align: center;
    width: 75%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    position: relative;
left: 50%;
transform: translate(-50%, 35%);
}

.overlay-text a {
    display: block;
    display: flex;
    justify-content: center;
    background-color: #52525226;
    border-style:double;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    font-size: 1.5rem;
    padding: .5rem 6.5rem;
    transition: all 200ms ease-in-out;
}
.overlay-text div {
padding-top: 2rem;
}

.fa-times {
    font-size: 2rem;
    color: #fff;
    padding: 1rem;
    transition: all 200ms ease-in-out;
}

.fa-times:hover {
    animation: rotateAnimation 200ms ease-in-out;
}

/* animation */
@keyframes rotateAnimation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(90deg);
    }
}




/*Footer*/
footer {
background-color: #ffffff;
display: grid;
grid-template-columns: repeat(2, 1fr);
align-items: center;
padding: .5rem;
padding-bottom: 0;
padding-top: 0;
margin: 0;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
}

footer div:nth-child(1) {
    display: grid;
    grid-template-columns: repeat(2, .1fr);
    align-items: center;
}

footer  a {
    display: flex;
    grid-template-rows: repeat(2, 1fr);
    align-items: left;
    text-decoration: none;
    color:#1d5ca5;
    padding-top: .15rem;
    font-size: clamp(4px, 1vw + .3rem, 24px);
}

.links {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0rem clamp(4px, 1vw + .1rem, 50px);
}

footer div:nth-child(1) i {
    margin-right: .5rem;
}

.copyright {
    margin-top: 4%;
    display: flex; 
       color:#1d5ca5;
       font-size: clamp(4px, 1vw + .1rem, 16px);
    justify-content: right;
}


footer div:nth-child(1) img {
    position: relative;
    align-self: flex-start;
transform:scale(0.7);
}
