body {
    background-color: #132e52;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter';
    font-style: normal;
    
}

body {
    height: 100%;
    overflow-y: scroll; /* Enable vertical scrolling */
    overflow-x: hidden; /* Hide horizontal scrollbar if needed */
    transition: filter 0.1s ease;
}

body::-webkit-scrollbar {
    display: none; /* Hide scrollbar for WebKit browsers */
}


/* faq html*/


    .faq {
        margin-top: 5%;
    }

    .faq h1 {
       color: #fff;
       width: 100%;
       margin-bottom: 4rem;
       font-size: 2.5rem;
       text-align: center;
       box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.3);
    }

    .faq h2 {
        color: #fff;
        text-align: center;
        font-size: clamp(15px, 3vw + .2rem, 42px);
        margin-top: 5rem;
    }


    .faq-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1rem;
        width: 75%;
        max-width: 1500px;
        margin: auto;
        grid-gap: 4rem;
        margin-bottom: 2rem;
    }
    
    .faq-child {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: left;
        grid-gap: .5rem;
        color: #ffffff;
        border-radius: .5rem;
        padding-left: 1rem;
        padding-right: 1rem;
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.459);
        cursor: pointer;
        user-select: none; /* For most browsers */
        -webkit-user-select: none; /* For Safari */
        -moz-user-select: none; /* For Firefox */
        -ms-user-select: none; /* For Internet Explorer/Edge */
    }



    .LDescription {
        display: none;
        padding-left: 1rem;
        padding-right: 1rem;
    }

   
    .faq-child h2:nth-child(1) {
        margin: 0;
        margin-bottom: .5rem;
    }
    

    .LDescription li {
        color: #cad8da;
        font-size: clamp(8px, 1vw + .15rem, 24px);
        
        padding-bottom: 1rem;
        user-select: none; /* For most browsers */
        -webkit-user-select: none; /* For Safari */
        -moz-user-select: none; /* For Firefox */
        -ms-user-select: none; /* For Internet Explorer/Edge */

    }

    .LDescription strong {
        color: #e2e2e2;
    }


    .spacer {
        padding-top: clamp(1rem, 5vw, 5rem);
        padding-bottom: clamp(1rem, 1vw, 5rem);
    }


  /*sends footer to bootom of the page*/
        .footer-container {
            padding-top: 5rem;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            width: 100%;
            height: 100%;
        }

